h1,h2{
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.button{
width: 95%;
margin-left: 1.5rem;
}

#movieImage {
    background-image: url(../Assets/movie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}

#recipeImage {
    background-image: url(../Assets/food.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}

#drinkImage {
    background-image: url(../Assets/drink.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}