h1,
h2 {
    text-shadow: 3px 3px 3px black;
    color: white !important;
    font-family: 'Pacifico', cursive;

}

.title,
.subtitle {
    color: white !important;
    font-family: 'Pacifico', cursive;
    text-shadow: black !important;
}

.button {
    width: 100%;
    font-family: 'Baloo Thambi 2', cursive;
    background-color: #d6d3d3 !important;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
}

#drinkRandom,
#recipeRandom,
#movieRandom {

    background-color: #506165 !important;
    color: white !important;
    font-family: 'Baloo Thambi 2', cursive;
    width: 100%;


}

#random-button {
    background-color: #506165 !important;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    height: 4rem;
    width: 95%;
    margin-left: 1.5rem;
}


.hero {
    background-image: url("photo2.jpg");
    background-size: cover;
    padding-bottom: 3rem;
    background-position: center;
}

body {
    background-color: #eeedf2;
}

p {
    font-family: 'Baloo Thambi 2', cursive;
    font-size: medium;
}

#movieImage {
    background-image: url(../Assets/movie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d6d3d3;
}

#recipeImage {
    background-image: url(../Assets/food.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d6d3d3;
}

#drinkImage {
    background-image: url(../Assets/drink.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d6d3d3;
}

.card {
    background-color: #d6d3d3 !important;
}