h1,h2{
    text-shadow: 3px 3px 3px black;
    color: white !important;
    font-family: 'Pacifico', cursive;

}
.title,.subtitle{
    color: white !important;
    font-family: 'Pacifico', cursive;
    text-shadow: black !important;  
}


.button{
width: 95%;
margin-left: 1.5rem;
}

#random-button{
    background-color: #506165!important;
    color: white;
    font-family: 'Baloo Thambi 2', cursive;
    height: 4rem
}    


.hero {
    background-image: url("photo2.jpg");
    background-size: cover;
    padding-bottom: 3rem;
    background-position: center;
}

body{
    background-color:#eeedf2;
}

p{
    font-family: 'Baloo Thambi 2', cursive;
    font-size: medium;
}

#movieImage {
    background-image: url(../Assets/movie.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}

#recipeImage {
    background-image: url(../Assets/food.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}

#drinkImage {
    background-image: url(../Assets/drink.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(214, 211, 211);
}